<div class = "ryt ">
<div class="alert alert-primary" role="alert">
 <%= link_to "1",  welcome_index_path %>
 
</div>
<div class="alert alert-secondary" role="alert">
  2
</div>
<div class="alert alert-success" role="alert">
  3
</div>
<div class="alert alert-danger" role="alert">
 4
</div>
<div class="alert alert-warning" role="alert">
  5
</div>
<div class="alert alert-info" role="alert">
 6
</div>
<div class="alert alert-light" role="alert">
 7
</div>
<div class="alert alert-dark" role="alert">
 8
</div>
<div class="alert alert-danger" role="alert">
 9
</div>
</div>